<!DOCTYPE html>
<html>
<head>
  <title>Quiz2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div>
			<%= link_to 'Home', athletes_path %>
		</div>

		<br />

		<div class="col-xs-5">
			<%= link_to 'Contribute', new_athlete_path %>
		</div>
	</header>
<hr />
<br class="clear" />

<div class="container">
 <% if flash[:error].present? %>
      <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
        <%= flash[:error] %>
      </div>
    <% end %>
	<%= yield %>
</div>

</div>
</body>
</html>
